body {
    background-color: #f0f0f0;
}

.container {
    background-color:#f6eeef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    width: 50%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
